*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
}
.navcontainer{
    
}
.navcontainer a{
    color: white;
    text-decoration: none;
}
.nav-text{
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    gap:250px;
   
}
.navcontainer a:hover{
    color: rgb(238, 15, 145);
}
.off-screen-menu ul{
    list-style-type: none;
}
.off-screen-menu a {
    color: white;
    text-decoration: none;
}
.off-screen-menur a:visited {
    color: white;
}
.off-screen-menu a:hover {
    /* color: #6F86FF; */
    color:  rgb(238, 15, 145);
}

body {
    /* background-color: rgb(65, 71, 97); */
    background-color: black;
    font-family: sans-serif;
}



/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);

    height: 90vh;
    width: 100%;
    max-width: 350px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    border-radius: 25px;
}
.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
    /* background-color: rgb(34, 37, 49); */
    background-color: black;
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: fixed;
    right: 10px;
    top: 5px;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    /* background-color: #6F86FF; */
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
#home{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 60px; */
    width: 100%;
    height:600px;
    background-color:black;
    color: white;
    gap: 20px;
    
}
#home h1{
    font-size: 32px;
    display: inline;
}
#home img{
    width: 150px;
    border-radius: 50%;
}
#experience{
    padding-top: 70px;
    height: 600px;
   
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;
}
.line{
    background-color: rgb(238, 15, 145);
    width: 40px;
    height: 3px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 8px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 40px;
    transition:0.5s;

}
.grid h1{
    color: rgb(238, 15, 145);
    margin-bottom: 8px;
}
.box{
    width: 350px;
    height: 150px;
    background-color: black;
    border-radius: 20px;

}
.box:hover{
    transform: scale(1.1);
    
}
#portfolio{
    padding-top: 70px;
    height: 850px;
    
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;

}
.box2{
    width: 350px;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;

}
.box2 h3{
    color:rgb(238, 15, 145) ;
    margin-bottom: 10px;
}
.box2 img{
    width: 90%;
    height: 150px;
    margin: auto;
    margin-top: 10px;
}
.box2:hover{
    transform: scale(1.1);
}
#skill{
    padding-top: 70px;
    height: 800px;
  
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;
    

}
.box1{
    width: 350px;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;


}
.box1 h3{
    color:rgb(238, 15, 145) ;
    margin-bottom: 10px;
}
.box1:hover{
    transform: scale(1.1);
}
.box1 img{
   
    width: 20%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .flex-container{

} */
#contact{
    padding-top: 70px;
    height: 600px;
   
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;
}
.txt{
/* width:70%; */
/* justify-content: center; */
text-align: center;
/* content: icon; */
margin: 70px;
}
.msg{
    background-color: rgb(238, 15, 145);
    color: aliceblue;
   height: 40px;
   width: 120px;
   border: none;
   padding: 5px;
    margin: 40px;
    /* display: block; */
}
.msg:hover{
    cursor: pointer; 
    scale:1.2;
}
i:hover{
    scale:1.2;
    cursor: pointer;
}
i{
   margin: 10px;
  
}
.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: aliceblue;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.grid-con{
    display: grid;
    grid-template-columns:1fr 2fr 1fr ;
}

#about{
    padding-top: 70px;
    height: 750px;
   
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;
    
}

.contOfNumbrs{
display: grid;
grid-template-columns: 1fr 2fr 1fr;
margin-top: 70px;

}

.numbers{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    background-color:#000;
  padding: 20px;
    
}
.row1
{
 color:  rgb(238, 15, 145);   
 font-size: 40px;
 font-weight:900;
}

.flex-container{
    display: grid;
    grid-template-columns:1fr 1fr 2fr 1fr;
    margin-left: 20px;
    
}
/* .first-column{
   
} */
.imgAbout{
     width: 100%;

}
.grid-container{
    font-size: 14px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-top: 30px;
    text-align: left;
    gap:10px;
    font-stretch: extra-expanded;
    
    /* margin-left: 50px; */
    /* padding: 10px; */
}
.span{
    color: rgb(145, 141, 135);
    margin-left: 20px;
    text-align: left;
}
.second-column-cont{
    margin-left: 30px;
}
.r{
    margin: 10px;
}
.rr{
    margin: 10px; 
    font-weight: lighter;
    color: rgb(195, 195, 195);
}
.rrr{
    width: 40px;
}
.menubar{
        visibility: hidden;
    }
@media(max-width:700px){
    .grid{
        grid-template-columns: auto;
    }
    #experience{
        height: 880px;
    }
    #skill {
        height: 1500px;
    }
    #portfolio{
        height: 1500px;
    }
    .flex-container{
        display: block;
        
    }
    .imgAbout{
        width: 80%;
        margin: auto;
    }
    #about{
        height: 1000px;
    }
    #contact{
        height: 670px;
    }
    .nav-bar{
        visibility: hidden;
    }
    .menubar{
        visibility:visible;
    }
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .grid-con{
        grid-template-columns:0.1fr 7fr 0.1fr ;
    }
  
}