*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
}
.navcontainer{
    
}
.navcontainer a{
    color: white;
    text-decoration: none;
}
.nav-text{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
   
}
.navcontainer a:hover{
    color: rgb(238, 15, 145);
}
.home{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: 600px;
    background-color:black;
    color: white;
    gap: 20px;
}
.home h1{
    font-size: 32px;
    display: inline;
}
.home img{
    width: 150px;
    border-radius: 50%;
}
#experience{
    height: 600px;
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;
}
.line{
    background-color: rgb(238, 15, 145);
    width: 40px;
    height: 3px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 8px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 40px;
    transition:0.5s;

}
.grid h1{
    color: rgb(238, 15, 145);
    margin-bottom: 8px;
}
.box{
    width: 350px;
    height: 150px;
    background-color: black;
    border-radius: 20px;

}
.box:hover{
    transform: scale(1.1);
    
}
#portfolio{
    height: 800px;
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;

}
.box2{
    width: 350px;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;

}
.box2 h3{
    color:rgb(238, 15, 145) ;
    margin-bottom: 10px;
}
.box2 img{
    width: 90%;
    height: 150px;
    margin: auto;
    margin-top: 10px;
}
.box2:hover{
    transform: scale(1.1);
}
#skill{
    height: 800px;
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    text-align: center;
    

}
.box1{
    width: 350px;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;


}
.box1 h3{
    color:rgb(238, 15, 145) ;
    margin-bottom: 10px;
}
.box1:hover{
    transform: scale(1.1);
}
.box1 img{
   
    width: 20%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}